body {
  background: #e4e4e4;
}
h2 {
  color: rgb(67, 67, 67);
  padding-left: 20px;
}
button {
  margin: 10px 0px 10px;

  padding: 5px;
  font-size: 1rem;
}
a {
  margin: 10px;
  color: white;
  text-decoration: none;
}
.linkMenue {
  width: 100%;
  color: white;
  padding: 10px;
}
.App {
  max-width: 80rem;
  margin: 0 auto;
  background: rgb(240, 240, 240);
  height: 100%;
  padding: 20px;
}
.App-header {
  display: flex;
  background-color: #282c34;

  color: white;
  padding: 5px;
}
.headline {
  display: block;
  width: 100%;
}
.App-link {
  color: #61dafb;
}

.cart {
  color: rgb(0, 0, 0);
  height: 150px;
  width: 200px;
  position: relative;
  right: 0px;
  top: -1px;
  background: #ecc92c;
  padding: 4px;
  margin: 5px;
}
.cartItems {
  background: #deb822;
  padding: 4px;
}
.summonPrice {
  color: red;
}
.list {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.products {
  background: #f2f2f2;
  border: 1px solid #e3e2e2;
  color: #000000;
  padding-left: 20px;
  margin: 5px;
  object-position: 50% 50%;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 10px 0px;
}
.details {
  border: 3px solid rgb(0, 0, 0);
  color: white;
  background: #3a3a3a;
  padding: 10px;
  margin: 5px;
}
.amount {
  background: #cdb2c1;
  color: #886868;
  padding-left: 14px;
  padding-right: 8px;
  text-align: center;
  margin: 5px;
}
.buttonText {
  color: black;
}